<!DOCTYPE html>
<html>
  <head>
    <title>Hogaru1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("https://www.hogaru.com/assets/logo_hogaru-59b8dca05b7190d5b9bcfb9a85515ff2d9154eb29e705d63738c08da3a886a5e.svg", class: "img-logo"), root_path %>
        <p class="logo_text">bootcamp</p>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Basics", basics_path %></li>
            <li><%= link_to "Ruby", ruby_path %></li>
            <li><%= link_to "Git", git_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
